/* reset rules */
:root {
  --debug-color: rgba(0, 250, 0, 0.3);
  --space-s: 5px;
  --space-m: 20px;
  --space-l: 40px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin: var(--space-m) 0px;
}
h4 {
  margin: var(--space-m) 0px;
  font-size: 1.2rem;
  font-weight: bolder;
}
h5 {
  margin: var(--space-s) 0px;
}

p {
  margin: var(--space-m) 0px;
}

.debug {
  border: 2px dashed red;
  background-color: var(--debug-color);
  min-width: var(--space-m);
  min-height: var(--space-m);
}
.debug2 {
  border: 2px dashed rgb(255, 0, 234);
  background-color: rgba(250, 0, 0, 0.3);
  min-width: var(--space-m);
  min-height: var(--space-m);
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.fl-space-between {
  justify-content: space-between;
}
.fl-item-cencer {
  align-items: center;
}
.fl-align-left {
  align-items: start;
}
.fl-just-start {
  justify-content: start;
}
.fl-just-cencer {
  justify-content: center;
}
.fl-gap {
  gap: var(--space-m);
}

.container-l {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 100%;
}
.container-m {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.container-s {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
}

/* general style */

a {
  text-decoration: none;
  color: currentColor;
}

.txt-centre {
  text-align: center;
}
.txt-blue {
  color: #0061ff;
}

i {
  padding: 0 var(--space-s);
}
/* utilities */

.button {
  border: none;
  text-align: center;
  text-decoration: none;

  padding: var(--space-s) var(--space-m);
}
.button-blue {
  background-color: #0061ff;
  color: white;
}
#btt-contact-enterprise {
  margin-top: var(--space-m);
  font-size: 1rem;
  width: 40%;
  height: 20%;
}
#big-card {
  width: 100%;
  flex-grow: 0;
}

/* +++++++++ */

/* nav bar */
nav {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;

  background-color: white;
  min-height: var(--space-l);

  line-height: var(--space-m);
}

#logo-dropbox {
  height: 20px;
}
/* qualsiasi sia l'elemento subito dopo "nav" */
nav + * {
  margin-top: var(--space-l);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);

  list-style: none;
  font-size: smaller;
}
nav li {
  list-style: none;
}

/* ++++++++ */

/* main */

.jumbothrone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b4d0e7;
}

.jumbothrone > h1 {
  text-align: center;
  margin: var(--space-l);
}

.jumbo-sections {
  display: flex;
}

.jumbo-section-40 {
  margin: 0px var(--space-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 40%;
}

.jumbo-section-fill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}
#jumbo-btt {
  text-align: left;
  /* width: 20%; */
}
#arrow {
  font-size: xx-large;
}

/* fatturazione */
.main-radio-btt {
  margin: var(--space-m) 0px;
}

.main-billing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: var(--space-m) 0px;
}

.main-billing-card {
  width: 30%;
}
.card-layout {
  padding: var(--space-s) var(--space-m);
  border: 1px solid grey;
}

.card-advantages {
  margin: var(--space-m) 0px;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-advantages-item {
  display: flex;
  margin: var(--space-s) 0px;
}

.fa-check {
  color: #0061ff;
}

.try-btt {
  display: flex;
  justify-content: center;
  margin: var(--space-m) auto;
}

.little-underline {
  width: 20%;
  margin: var(--space-l) 0px var(--space-m);
  border-bottom: 1px solid grey;
}

#simple-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

/* ++++ */
